[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mecab = "*"
jaconv = "*"
kanjize = "*"
jdg = {path = "."}

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
test = "python /home/nasu/Development/julius-dictionary-generator.git/test.py"
